
body{
    margin-top:1px;
    margin-left:50%;
    display: flex;
    justify-items: center ;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
#calc{
   font-family: Arial, Helvetica, sans-serif;
   background-color: hsl(0, 0%, 15%);
   border-radius: 15px;
   max-width: 500px;
   overflow: hidden;
  
}
#display{
   width: 100%;
   padding: 20px;
   font-size: 1rem; 
   text-align: left;
   border: none;
   background-color: hsl(0, 0%, 49%);
   color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0,0%, 30%);
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0,0%, 50%);
}
.a{
    background-color: hsl(22, 100%, 49%);
}
.a:hover{
    background-color: hsl(22, 91%, 64%);
}
.a:active{
    background-color: hsl(32, 100%, 34%);
}
.operator-btn{
    background-color: hsl(36, 100%, 45%);
}
.operator-btn:hover{
    background-color: hsl(39, 98%, 66%);
}
.operator-btn:active{
    background-color: hsl(17, 100%, 53%);
}